//reset style
@import "reset.scss";
body {
    background-color: #000;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    color: orange;
}

h2 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
    color: darksalmon;
}

li {
    list-style: none;
    font-size: 25px;
    font-weight: 900;
    color: brown;
    padding: 1px 7px;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
}

%chess {
    width: 700px;
    height: 700px;
    background-image: url(../img/firestock_wood_texture_03092013-700x700.jpg);
    padding: 70px;
    position: relative;
    box-shadow: 10px 10px 10px rgb(34, 26, 15);
}

%board {
    height: 560px;
    width: 560px;
    box-shadow: 0 0 10px #000;
}

%numbers {
    position: absolute;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 35px;
    top: 70px;
    text-align: center;
}

%letters {
    position: absolute;
    width: 80%;
    bottom: 35px;
    right: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

%rotate_letters {
    position: absolute;
    width: 80%;
    top: 35px;
    left: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: rotate(-180deg);
}

%rotate_numbers {
    position: absolute;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    right: 35px;
    bottom: 70px;
    text-align: center;
    transform: rotate(-180deg);
}

.container {
    width: 100vw;
    margin: 0 auto;
}

.rotate {
    transform: rotate(-180deg);
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px;
    .card1 {
        margin-right: 15px;
        margin-bottom: 50px;
        .chess1 {
            @extend %chess;
            .numbers1 {
                @extend %numbers;
            }
            .letters1 {
                @extend %letters;
            }
            .board1 {
                @extend %board;
            }
            .rotate_letters1 {
                @extend %rotate_letters;
            }
            .rotate_numbers1 {
                @extend %rotate_numbers;
            }
        }
    }
    .card2 {
        margin-right: 10px;
        margin-bottom: 10px;
        .chess2 {
            @extend %chess;
            .numbers2 {
                @extend %numbers;
            }
            .letters2 {
                @extend %letters;
            }
            .board2 {
                @extend %board;
            }
            .rotate_letters2 {
                @extend %rotate_letters;
            }
            .rotate_numbers2 {
                @extend %rotate_numbers;
            }
        }
    }
    .card3 {
        margin-bottom: 10px;
        .chess3 {
            @extend %chess;
            .numbers3 {
                @extend %numbers;
            }
            .letters3 {
                @extend %letters;
            }
            .board3 {
                @extend %board;
            }
            .rotate_letters3 {
                @extend %rotate_letters;
            }
            .rotate_numbers3 {
                @extend %rotate_numbers;
            }
        }
    }
}

.block {
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    float: left;
    font-size: 32px;
    color: brown;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
    box-shadow: inset 0 0 10px rgb(80, 77, 77);
}

.black {
    background-image: url(../img/shutterstock_6840517311.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.white {
    background-image: url(../img/shutterstock_4675252-700x700.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}