//reset style
@import "reset.scss";
h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
}

.board {
    background-color: azure;
    width: 560px;
    height: 560px;
    margin: 0 auto;
    outline: 1px solid black;
}

.block {
    width: 70px;
    height: 70px;
    float: left;
}

.black {
    background-color: #000;
}

.white {
    background-color: rgb(235, 180, 31);
}